<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {%- assign social_media_shown = site.data.social_media | where_exp: "social_media", "social_media.show != false" -%}
          {% for social_media in social_media_shown -%}
          {%- if social_media.username_literal -%}
            {%- assign username =  social_media.username_literal -%}
          {%- else -%}
            {%- assign username =  site[social_media.username] -%}
          {% endif %}
          <li>{%- include social/icon.html
                         username=username
                         media_base_url=social_media.media_base_url
                         media_url_literal=social_media.media_url_literal
                         media_name=social_media.media_name -%}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
