@use "sass:color";
@use "common" as c;

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: c.$base-font-weight #{c.$base-font-size}/#{c.$base-line-height} c.$base-font-family;
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

.scroll {
  /* Se você quiser o back to top suave*/
  scroll-behavior: smooth;
}

.clean-background {
  background-color: var(--color-background);
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  @include c.vertical-rhythm;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: c.$small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: c.$spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: c.$base-font-weight;
}

/**
 * Links
 */
:where(a) {
  color: var(--color-brand);
  text-decoration: none;

  &:visited {
    color: c.adjust-lightness-and-round(c.$brand-color, $lightness-delta: -15%);
  }

  &:hover {
    color: var(--color-text);
    text-decoration: underline;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: c.$grey-color;
  border-left: 4px solid var(--color-code-border);
  padding-left: calc(c.$spacing-unit / 2);
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid var(--color-code-border);
  border-radius: 3px;
  background-color: var(--color-code);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */

.grid-wrapper {
  --content-width: #{c.$content-width};
  display: grid;
  grid-template-columns: 1fr min(var(--content-width), 100%) 1fr;
  padding-inline: 16px;
  & > * {
    grid-column: 2;
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: c.$grey-color;
    }
  }
}

table.marked-table {
  border: 1px solid gray;
  width: 90%;

  th {
    border: 1px solid gray;
    font-weight: bold;
  }
  td {
    border: 1px solid gray;
  }
}

.marked-table.numeric {
  td {
    text-align: right;
  }
}
