@use 'sass:color';
@use "common" as c;

.back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-48px, -64px);
    color: currentColor;
    text-decoration: none;
    background-color: #eef;
    padding: 8px 16px;
    border-radius: 8px;
    transform-style: preserve-3d;
    &:hover {
      box-shadow: 0px 0px 0px 2px purple;
      &::after {
        --rotation-val: -16deg;
        --translate-y-val: -32px;
      }
    }
    &::after {
      --bg-size: 32px;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("../assets/coelho.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: var(--bg-size);
      width: var(--bg-size);

      transform: rotate(var(--rotation-val, 0))
        translateY(var(--translate-y-val, 0)) translateZ(-1px);
      transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
    }
}

.jeff-nav {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    padding: 8px 16px;
}

.nav-next, .nav-prev {
    display: flex;
    flex-grow: 1;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 4px;
    &:hover {
        background-image: linear-gradient(
            var(--grad-direction, to right),
            #eef,
            transparent
        );
    }
}

.nav-next::after {
    content: "→";
}

.nav-next .nav-link {
    margin-left: auto;
}

.nav-prev {
    --grad-direction: to left;
    &::before {
        content: "←";
    }
}

.nav-link:visited {
    color: c.$grey-color-dark-2;
}

.nav-link:link {
    color: c.$grey-color-dark
}

.beta-hidden[data-beta="hidden"] {
    display: none;
}
