@use "sass:color";
@use "common" as c;

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-48px, -64px);
  color: var(--color-text);
  text-decoration: none;
  background-color: var(--color-code);
  padding: 8px 16px;
  border-radius: 8px;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 0px 2px transparent,
    0px 0px 0px 4px var(--color-background);
  &:hover {
    box-shadow: 0px 0px 0px 2px var(--color-button-border);
    &::after {
      --rotation-val: -16deg;
      --translate-y-val: -32px;
    }
  }
  &::after {
    --bg-size: 32px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../assets/coelho.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--bg-size);
    width: var(--bg-size);

    transform: rotate(var(--rotation-val, 0))
      translateY(var(--translate-y-val, 0)) translateZ(-1px);
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  }
}

.jeff-nav {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  padding: 8px 16px;
}

.nav-next,
.nav-prev {
  display: flex;
  flex-grow: 1;
  padding: 42px 16px;
  gap: 8px;
  border-radius: 4px;
  position: relative;

  &:hover .bunny-stampede {
    background-image: url("../assets/coelho-pattern.png");

    background-repeat: repeat;
    animation: infinite-scroll 4s linear infinite;
  }
}

.bunny-stampede {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.nav-next .bunny-stampede {
  transform: scale(-1, 1);
}

.nav-next .nav-link::after {
  content: "→";
}

.nav-next {
  &::before {
    content: "";
    inset: 0;
    position: absolute;
    background-image: linear-gradient(
      to right,
      var(--color-dynamic-bg),
      transparent
    );
  }

  .nav-link {
    margin-left: auto;
  }
}

.nav-prev {
  --grad-direction: to left;
  &::before {
    content: "";
    inset: 0;
    position: absolute;
    background-image: linear-gradient(
      to left,
      var(--color-dynamic-bg),
      transparent
    );
  }

  & .nav-link::before {
    content: "←";
  }
}

.nav-link {
  display: flex;
  gap: 8px;
  position: relative;
  z-index: 1;
  &:link {
    color: var(--color-visited);
  }
  &:visited {
    color: var(--color-button-border);
  }
}

.beta-hidden[data-beta="hidden"] {
  display: none;
}

@keyframes infinite-scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}
